{% extends 'base.html' %} {% load static %} {% block title %}환율 계산{%endblock %} {% block extra-style %}
<link rel="stylesheet" href="{% static 'css/exchange.css' %}" />
{% endblock %} {% block back %}
<a href="{% url 'savior:japan' %}"><img src="{% static 'image/nav/back.svg' %}" style="height: 30px" /></a>
{% endblock %} {% block content %}
<div class="inform">
    <div class="title">
        <p>Exchange Rate</p>
    </div>
</div>

<section class="sec">

    <div class="choose">
        <form action="{% url 'savior:exchange' %}" method="POST">
            {% csrf_token %}
            <!-- changeCountry -->
            <select name="country" id="input-dropdown">
                <option  disabled value="">국가 선택</option>
                <option selected value="japan">Japan</option>
                <option value="USA">USA</option>
                <option value="vietnam">Vietnam</option>
            </select>
            <input type="submit" value="선택" id="choose-btn" style="opacity: 1.0;"/>
        </form>
    </div>

    <form action="{% url 'savior:japan_exchange' %}" method="post">
        {% csrf_token %}
        <div class="content">
            <div id="visit-country"> 
                <div id="input">
                    <p id="krw">JPY</p>
                    <div id="result-main">                                 
                        <h2>{{JPY}}
                            <div id="unit-icon"><img src="{% static 'image/icon/yen.png' %}" alt="yen"></div>
                        </h2>
                        <input type="number" placeholder="엔" name="JPY" class="exchange-input" min="0"/>
                    </div>
                                
                </div>
                <div class="dots">
                    <img src="{% static 'image/icon/dots.png' %}" alt="dots" />
                </div>
            </div>

            <div id="exchange">
                <img src="{% static 'image/icon/exchange_to.png' %}" alt="exchange_to" />
            </div> 
            <div id="korea">
                <div class="dots">
                    <img src="{% static 'image/icon/dots.png' %}" alt="dots" />
                </div>
                <div id="result">
                    <p id="krw">KRW</p>
                    <div id="result-main">
                        <p id="krw-sign">{{KRW}}&#x20a9</p>
                        <input type="number" name="KRW" placeholder="원" class="exchange-result" value="{{ KRW|default:'' }}"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="calc_btn">환율 계산</button>
            </div>
        </div>
    </form>


</section>

{% endblock %} {% block extra-script %}
<script>
let changeimg = document.getElementById("input-dropdown");
let myImg = document.getElementById("unit-icon");

function changeImage() {
    let index = changeimg.selectedIndex;
    myImg.src = changeimg.options[index].value;
}

changeImage();
changeimg.onchange = changeImage;

</script>
{% endblock %}
