{% extends 'base.html' %} {% load static %} {% block title %}Map{%endblock %} {% block extra-style %}
<script defer src="{% static 'js/map.js' %}"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0F3CbRAi8ZqT2RJ8rDa1YrZcU5SBr4EI&callback=initMap&libraries=places"></script>
<link rel="stylesheet" href="{% static 'css/map.css' %}" />
{% endblock %} {% block back %}
<a href="{% url 'savior:intro' %}"><img src="{% static 'image/nav/back.svg' %}" style="height: 30px" /></a>
{% endblock %} {% block content %}

<section class="sec">
  <div class="search">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" /><button>
      <img src="{% static 'image/icon/scope.png' %}" alt="." />
    </button>
  </div>
  <div id="map" style="height: 90%"></div>
</section>
{% endblock %} {% block extra-script %}
<script>
  const japanPageUrl = "{% url 'savior:japan' %}";
  const USAPageUrl = "{% url 'savior:USA' %}";
  const vietnamPageUrl = "{% url 'savior:vietnam' %}";
</script>
{% endblock %}
