{% extends 'base.html' %} {% load static %} {% block title %}비밀번호 재설정{%endblock %} {% block extra-style %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
{% endblock %} {% block back %}
<a href="{% url 'savior:accounts:login' %}"><img src="{% static 'image/nav/back.svg' %}" style="height: 30px" /></a>
{% endblock %} {% block content %}
            <div class="inform">
                <div class="title">
                    <p>PW 재설정</p>
                </div>
            </div>

            <section class="sec">
                <div id="explanation">
                    <h2 id="question">비밀번호를 잊으셨나요?</h2>
                    <p id="mention">
                        가입하신 이메일을 입력해 주세요. 비밀번호 재설정 메일이
                        발송됩니다.
                    </p>
                </div>

                <form class="user" method="POST">
                    {% csrf_token %}
                    
                    <div class="email-input">
                        <span class="txt">이메일</span>
                        <div id="email-form">
                            {{form.email}}
                            <input type="submit" id="send_btn" value="전송"></input>
                        </div>
                    </div>
                </form>
            </section>
            {% endblock %} {% block extra-script %} {% endblock %}